<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="websocketsharp.core" version="1.0.0" />
  <package id="Chaos.NaCl.Standard" version="1.0.0" />
  <package id="IndexRange" version="1.0.2" />
  <package id="Portable.BouncyCastle" version="1.9.0" />
  <package id="Solana.Unity.KeyStore" version="2.6.0.8" />
  <package id="Solana.Unity.Programs" version="2.6.0.8" />
  <package id="Solana.Unity.Rpc" version="2.6.0.8" />
  <package id="Solana.Unity.Wallet" version="2.6.0.8" />
</packages>